p{background-color: #000;}

h1 {
    background-color: #000000;
    color: #000f63;
  }
  body {
    background-color: lightblue;
  }

  nav {
    background-color: #000f63;
    position: sticky
    }

    header img { 
      left: 0;
      margin-top: 50px;
      margin-bottom: 20px;
      width: 250px;
      height: 250px;
    }

    footer { 
      background-color: chartreuse;
      color: coral;
    }